@using System.Web.Razor
@using OnlineCinemaProject.Models
@model OnlineCinemaProject.Models.video

@{
    ViewBag.Title = "Details";
}


<div class="featurette">
    <h1> Фильм: @Html.DisplayFor(model => model.name)</h1>
    @{
        if (Model.type == 0)
        {
            <h1> Фильм: @Html.DisplayFor(model => model.name)</h1>
        }
        else
        {
            <h1> Сериал: @Html.DisplayFor(model => model.name)</h1>
        }
    }

</div >
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/uploads/@Model.img_url" class="video-img"/>
    </div>
    <div class="col-md-7">

        <div class="properties">
            <span>
                @Model.release_date.Year
            </span>
            <span>
                @{
                    foreach (var man in Model.manufacturers)
                    {
                        @man.country.name
                    }
                }
            </span>
            <span>
                @{
                    foreach (var videogenre in Model.videogenres)
                    {
                        @: <a style="text-decoration: none">
                        @videogenre.genre.name
                        @:,</a>
                    }
                }
            </span>
            <span>
                Длительность
            </span>
        </div>
        <p>Режиссер: @Model.director</p>
        <div class="display-field">
            @Html.DisplayFor(model => model.details)
        </div>

    </div>
</div>
<hr class="featurette-divider"/>
<div class="marketing">
    <div class="row">
        @foreach (var videoactor in Model.videoactors)
        {
            <div class="col-lg-2">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="60" height="60">
                <h2>@Html.ActionLink(videoactor.actor.name, "Details", "Actor", new {id = videoactor.actor.id}, new {@class = "btn-link "})</h2>
            </div>
        }
    </div>
</div>
<hr class="featurette-divider" />
<div>

    @if (Model.type == 0)
    {
        @Html.Partial("MoviePartial", Model.movies)
        @Html.ActionLink("Добавить Видео", "AddSeasonByVideoId", "Season", new {id = @Model.id}, null)
    }
    else
    {
        @Html.Partial("SeriesPartial", Model.seasons)
        @Html.ActionLink("Добавить сезон", "AddSeasonByVideoId", "Season", new {id = @Model.id}, null)
    }
    <hr class="featurette-divider"/>
    @Html.Partial("VideoTrailers", Model.trailers)
    @Html.ActionLink("Добавить трейлер", "AddTrailerByVideoId", "Trailer", new { video_id = Model.id }, null)
</div>

