@model IEnumerable<OnlineCinemaProject.Models.video>

@{
    ViewBag.Title = "Index";
}

<h2>Фильмы и Сериалы</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <hr class="featurette-divider"/>
    <div class="row featurette">
        <div class="col-md-3">
            <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="~/uploads/@item.img_url" data-holder-rendered="true" style="width: 200px; height: 200px;">
        </div>
        <div class="col-md-6">
            @{
                if (item.type == 0)
                {
                    <h4>Фильм: @item.name</h4>
                }
                else
                {
                    <h4>Сериал: @item.name</h4>
                }
            }
            <p> @Html.DisplayFor(modelItem => item.release_date)</p>
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) <br />
            @Html.ActionLink("Описание", "Details", new { id = item.id })<br />
            @Html.ActionLink("Удалить", "Delete", new { id = item.id })<br />
        </div>

    </div>
}

