@model OnlineCinemaProject.Models.trailer

@{
    ViewBag.Title = "AddTrilerByVideoId";
}

<h2>AddTrilerByVideoId</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>trailer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.video_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.video_id)
            @Html.ValidationMessageFor(model => model.video_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.url)
            @Html.ValidationMessageFor(model => model.url)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
