@model OnlineCinemaProject.Models.video

<div class="movie__images">
    <a href="@Url.Action("Details", new { Model.id })" class="movie-beta__link">
        <img alt="" src="~/uploads/@Model.img_url">
    </a>
</div>
<div class="movie__info">
    <a href="@Url.Action("Details", new { Model.id })" class="movie__title">@Model.name </a>
    <p class="movie__time">91 min</p>
    <p class="movie__option">
        @for (int i = 0; i < 4; i++)
        {
            if (i < Model.videogenres.Count)
            {
                <a href="@Url.Action("VideoByGenre","Home", new{ Model.id })">@Model.videogenres.ToArray()[i].genre.name</a>
                if (i != Model.videogenres.Count - 1)
                {
                    @:|
                                            }
            }

        }
    </p>

    <div class="movie__rate">
        @*@Html.Partial("_Stars", (decimal) Model.score)*@
        <span class="movie__rating">@Model.score</span>
    </div>
</div>