@model OnlineCinemaProject.Models.banner

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml"; 
    ViewBag.Title = "Delete";
}

<h2>Удалить баннер?</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            Ссылка на продукт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt>
            Имя рекламодателя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advertiser.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
