@model OnlineCinemaProject.Models.banner

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml"; 
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form action="" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>banner</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.start)
                @Html.ValidationMessageFor(model => model.start)
            </div>
        </div>*@
        
        <div class="form-group">
            @Html.LabelFor(m => m.start, new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.start)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.url, new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.url)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.adv_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.adv_id, (SelectList)ViewBag.advlist)
                @Html.ValidationMessageFor(model => model.adv_id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.img_url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="ImagePath" title="Upload a product image" type="file" name="file" />
                @Html.ValidationMessageFor(model => model.img_url)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
