
@model IEnumerable<OnlineCinemaProject.Models.aspnetuser>

@{
    ViewBag.Title = "Пользователи";
    
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Cоздать нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Логин")
        </th>
       
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Дата рождения")
        </th>
        <th>
            @Html.DisplayName("Почта")
        </th>
        <th>
            @Html.DisplayName("Пол")
        </th>
        <th>
            @Html.DisplayName("Дата регистрации")
        </th>
        <th>
            @Html.DisplayName("Баланс")
        </th>
        <th>
            @Html.DisplayName("Тариф")
        </th>
        <th>
            @Html.DisplayName("Статус")
        </th>

        <th>
            @Html.DisplayName("Роли")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tariff.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Block)
        </td>

       
        <td>
            @foreach (var role in item.aspnetroles)
            {
                @role.Name <br/>
            }
        </td>

        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            @Html.ActionLink("Профиль", "Profile", new { id=item.Id })
        </td>
    </tr>
}

</table>
