@model IEnumerable<OnlineCinemaProject.Models.tariff>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "../Shared/Dashboard.cshtml";
}

@{
    //page title
    ViewBag.Title = "Панель управления биллингом";
}
<div class="section-header">
    <div class="title">
        <h1 class="page-header"><i class="fa fa-bar-chart-o fa-1x"></i>Биллинг
        </h1>
    </div>
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
    @( (DotNet.Highcharts.Highcharts)ViewBag.Chart1Model)
</div>

<h2 class="sub-header">Тарифы</h2><div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Дата создания</th>
            <th>Вкл. новые фильмы</th>
            <th>Вкл. реклама</th>
            <th>Активен</th>
            <th>Подписки</th>
            <th>@Html.ActionLink("Создать новый", "Create")</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.new_films_enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adverticement_enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subscriptions.Count)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id = item.id})" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="@Url.Action("Details", new {id = item.id})" class="btn btn-primary">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    <a @{
                           if (item.subscriptions.Count == 0)
                           {
                               @: href="@Url.Action("Delete", new {id = item.id})" class="btn btn-primary"
                           }
                           else
                           {
                               @: href="#" class="btn btn-default" 
                           }
                       }>
                        <i class="fa fa-trash-o"></i>
                    </a>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/highcharts")
}






















