@using System.Web.Razor
@using CinemaProject.Models
@model CinemaProject.Models.video

@{
    ViewBag.Title = "Details";
}
<div style="height: 50px">
    <h1>
        @{
            if (Model.type == 0)
            {
                <h1> Фильм: @Html.DisplayFor(model => model.name)</h1>
            }
            else
            {
                <h1> Сериал: @Html.DisplayFor(model => model.name)</h1>
            }
        }

    </h1>
</div >
<div style="display: inline-block" >
    <div style="width: 300px; float: left">
        <img src="/uploads/@Model.img_url" class="video-img" />
    </div>
    <div style="height: auto">

        <div class="properties">
            <span>
                @Model.release_date.Year
            </span>
            <span>
                @{
                    foreach (var man in Model.manufacturers)
                    {
                        @man.country.name
                    }
                }
            </span>
            <span>
                @{
                    foreach (var videogenre in Model.videogenres)
                    {
                        @: <a style="text-decoration: none">
                        @videogenre.genre.name
                        @:,</a>
                    }
                }
            </span>
            <span>
                Длительность
            </span>
        </div>
        <p>Режиссер: @Model.director</p>
        <p>
            В ролях: 
            @foreach (var videoactor in Model.videoactors)
            {
            @videoactor.actor.name  @: , 
            }
        </p>
        <div class="display-field">
            @Html.DisplayFor(model => model.details)
        </div>

    </div>
</div>

<div >
    
    @if (Model.type == 0)
    {
        @Html.Partial("MoviePartial", Model.movies)
    }
    else
    {
        @Html.Partial("SeriesPartial", Model.seasons)
        @Html.ActionLink("Добавить сезон", "AddSeasonByVideoId", "Season", new { id = @Model.id }, null)
    }
    <div>
        <h5>Трейлеры</h5>
        <table >
            @foreach (var trailer in Model.trailers)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Смотреть", "Watch", "Video", new {url = trailer.url}, new {@class = "video-placeholder"})
                    </td>
                    <td>
                        <h3>@trailer.title</h3>
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "Trailer", new {id = trailer.id}, null) <br/>
                        @Html.ActionLink("Удалить", "Delete", "Trailer", new {video_id = Model.id}, null) <br/>
                    </td>
                </tr>

            }
        </table>
        @Html.ActionLink("Добавить трейлер", "AddTrailerByVideoId", "Trailer", new{ video_id = Model.id}, null)
    </div>
    
</div>
