@using System.Web.Razor
@using CinemaProject.Models
@model CinemaProject.Models.video

@{
    ViewBag.Title = "Details";
}
<div style="height: 50px">
    <h1>
        @{
            if (Model.type == 0)
            {
                <h1>Фильм: @Html.DisplayFor(model => model.name)</h1>
            }
            else
            {
                <h1> Сериал: @Html.DisplayFor(model => model.name)</h1>
            }
        }

    </h1>
</div >
<div style="display: inline-block" >
    <div style="width: 300px; float: left">
        <img src="/uploads/@Model.img_url" class="video-img" />
    </div>
    <div style="height: auto">

        <div class="properties">
            <span>
                @Model.release_date.Year
            </span>
            <span>
                Страна!
            </span>
            <span>
                @{
                    foreach (var videogenre in Model.videogenres)
                    {
                        @: <a style="text-decoration: none">
                            @videogenre.genre.name
                            @:,</a>
                }
                }
            </span>
            <span>
                Длительность
            </span>
        </div>
        <dl>
            <dt>
                Режиссер
            </dt>
            <dd>
                @Model.director
            </dd>
            <dt>
                В ролях
            </dt>
            <dd>
                актер
                @* @{
                        foreach (var videogenre in Model.actors)
                        {
                            @: <a style="text-decoration: none">
                                @videogenre.a.name
                            @:,</a>
                        }
                    }*@
            </dd>
        </dl>

        <div class="display-field">
            @Html.DisplayFor(model => model.details)
        </div>

    </div>
</div>

<div >
    @Html.ActionLink("Add content","AddContentByVideoId","Content", new {id = Model.id },null)
    @{
        foreach (var content in Model.contents)
        {
            @Html.ActionLink("content", "Watch", "Content", new {url = content.url}, null)
        }
    }
</div>
