@model OnlineCinemaProject.Models.statistics_banner

@{
    ViewBag.Title = "Details"; Layout = "~/Views/Shared/Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>statistics_banner</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnetuser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnetuser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banner.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banner.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
