@using OnlineCinemaProject.Models;
@model OnlineCinemaProject.Models.advertiser

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Персональный кабинет рекламодателя";
   
}
<div class="page-header">
    <h2>Персональный кабинет рекламодателя</h2>
</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/uploads/@Model.img_url" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="" width="200" height="200">
    </div>
    <div class="col-md-6">

        <p><strong>Имя: </strong>@Model.name</p>
        <p><strong>Е-маил: </strong>@Model.email</p>
        <p><strong>телефон: </strong>@Model.phone_number</p>
        <p>@Html.ActionLink("Изменить персональные данные", "Edit", new { id = Model.id })</p>
        <p> @Html.ActionLink("Добавить новый баннер", "Create", "Banner", null, null)</p>
        <p> @Html.ActionLink("Добавить новый тизер", "Create", "Teaser", null, null)</p>

    </div>
</div>
<br />
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
       
        <li role="presentation"><a href="#banner" aria-controls="banner" role="tab" data-toggle="tab">Баннеры</a></li>
        <li role="presentation"><a href="#teasers" aria-controls="teaser" role="tab" data-toggle="tab">Тизеры</a></li>
        <li role="presentation"><a href="#Statistics_Banners" aria-controls="Statistics_Banners" role="tab" data-toggle="tab">Статистика баннеров</a></li>
        <li role="presentation"><a href="#Statistics_Teasers" aria-controls="Statistics_Teasers" role="tab" data-toggle="tab">Статистика тизеров</a></li>
        
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="banner">

            <div class="col-md-6">
                <h4 class="sub-header">Баннеры</h4>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Начало</th>
                            <th>Изображение</th>
                            <th>
                                <input id="activeAll"
                                       name="activeAll"
                                       type="checkbox"
                                       value="false" />
                            </th>
                        </tr>
                    </thead>

                    <tbody id="bannersTable">
                        @foreach (var item in Model.banners)
                        {
                            <tr>
                                <td>@Html.ActionLink(item.name, "BannerStatistics", new { id = item.id }) </td>
                                <td>@item.start</td>
                                <td>
                                    <center>
                                        <img src="~/uploads/@item.img_url" class="video-img-list" style="" width="52" height="70" />
                                    </center>
                                </td>
                                <td>
                                    <input checked="@item.active"
                                           id="@item.id"
                                           class="active"
                                           name="active"
                                           type="checkbox"
                                           value="@item.id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-default" id="makeActive">Ok</button>

            </div>
        </div>



        <div role="tabpanel" class="tab-pane active" id="teasers">
            <div class="col-md-6">

                <h4 class="sub-header">Тизеры</h4>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Начало</th>
                            <th>Изображение</th>
                            <th>
                                <input id="activeAllTeasers"
                                       name="activeAllTeasers"
                                       type="checkbox"
                                       value="false" />
                            </th>
                        </tr>
                    </thead>
                    <tbody id="teasersTable">
                        @foreach (var item in Model.teasers)
                        {
                            <tr>
                                <td>@Html.ActionLink(item.name, "TeaserStatistics", new { id = item.id }) </td>
                                <td>@item.start</td>
                                <td>
                                    <center>
                                        <img src="~/uploads/@item.img_url" class="video-img-list" style="" width="52" height="70" />
                                    </center>
                                </td>
                                <td>
                                    <input checked="@item.active"
                                           id="@item.id"
                                           class="active"
                                           name="active"
                                           type="checkbox"
                                           value="@item.id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-default" id="makeActiveTeaser">Ok</button>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="Statistics_Banners">
            @{
                var statistic_banner = (List<statistics_banner>)ViewBag.statistics;
            }

            <div class="col-md-6">
                <h4 class="sub-header"> Статистика показов баннера </h4>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Количество показов</th>
                            <th>Имя баннера</th>
                            <th>Имя пользователя</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var statistics_banners in statistic_banner)
                        {
                            <tr>
                                <td>@statistics_banners.id</td>
                                <td>@statistics_banners.date</td>
                                <td>@statistics_banners.show_amount</td>
                                <td>@statistics_banners.banner.name</td>
                                @if (statistics_banners.aspnetuser != null)
                                {
                                    <td>@statistics_banners.aspnetuser.FirstName</td>
                                }
                                else
                                {
                                    <td>Гость</td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="Statistics_Teasers">

            @{
                var statistic_teaser = ViewBag.statistics2;
            }

            <div class="col-md-6">
                <h4 class="sub-header"> Статистика показов тизера </h4>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Количество показов</th>
                            <th>Имя тизера</th>
                            <th>Имя пользователя</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var statistics_teasers in statistic_teaser)
                        {
                            <tr>
                                <td>@statistics_teasers.id</td>
                                <td>@statistics_teasers.dateShow</td>
                                <td>@statistics_teasers.showAmount</td>
                                <td>@statistics_teasers.teaser.name</td>
                                <td>@statistics_teasers.aspnetuser.FirstName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#activeAll').click(function () {
                    $("#bannersTable input:checkbox").prop('checked', $(this).prop("checked")); //To check all
                });

                $('#makeActive').click(function () {
                    var selectedValues = [];
                    var id = "@Model.id";
                    $("#bannersTable input:checked").each(function () {
                        selectedValues.push($(this).val());
                    });

                    $.ajax({
                        url: '@Url.Action("ActivateBanners","Advertiser")',
                        type: 'POST',
                        data: { "id": id, "args": selectedValues },
                        datatype: "json",
                        traditional: true

                    });
                    if (selectedValues.length > 0) {
                        alert("Подтвердите действие");
                    } else {
                        alert("No item has been selected.");
                    }
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#activeAllTeasers').click(function () {
                    $("#teasersTable input:checkbox").prop('checked', $(this).prop("checked")); //To check all
                });

                $('#makeActiveTeaser').click(function () {
                    var selectedValuesTeaser = [];
                    var id = "@Model.id";
                    $("#teasersTable input:checked").each(function () {
                        selectedValuesTeaser.push($(this).val());
                    });
                    $.ajax({
                        url: '@Url.Action("ActivateTeasers","Advertiser")',
                        type: 'POST',
                        data: { "id": id, "args": selectedValuesTeaser },
                        datatype: "json",
                        traditional: true

                    });
                    if (selectedValuesTeaser.length > 0) {
                        alert("Подтвердите действие");
                    } else {
                        alert("No item has been selected.");
                    }
                });
            });
        </script>





    </div>
